body{
  padding: 0;
  margin: 0;
}

/*Oculta por pardrão os ícones de editar e excluir dos datagrids,
para não causar distrações*/

.MuiDataGrid-row button{
  visibility: hidden;
}

/*Quando o mouse passar sobre uma linha de um datagrid, os botões
de editar e excluir dessa linha ficam visíveis*/
.MuiDataGrid-row:hover button{
  visibility: visible;
}

/* regras para colocar dois campos de formul[arop lado a lado quando houver largura suficiente para isso*/
.form-fields form{
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-fields .MuiFormControl-root{
  min-width: 250px;
  max-width: 500;
  width: 500px;
  margin-bottom: 36px;
}