body{
  padding: 0;
  margin: 0;
}

/*
Oculta por padroao os icones de editar e excluir dos datagridsm
para nao caysar distrações
*/
.MuiDataGrid-row button {
  visibility: hidden;
}
/*
Exibe quando o mouse passar encima da linha do data grid

*/
.MuiDataGrid-row:hover button {
  visibility: visible;
}

/*
regras para colocar doi campos do formulario lado a lado quando
houver largura suficiente para isso
*/

.form-fields form{
margin: 0 auto;
width: 95%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.form-fields .MuiFormControl-root {
  min-width: 250px;
  max-width: 500px;
  width: 500px;
  margin-bottom: 36px;
}

